body {
  color: white;
  background-color: #333;

  width: 100%;

  scrollbar-width: auto;
  scrollbar-color: #444 #111;

  svg {
    fill: white;
  }
}

#root {
  width: 100%;
}

button {
  cursor: pointer;
}

.button {
  background-color: transparent;
  border: 1px solid #eee;
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
}
