.vocabularyList {
    display: flex;
    flex-direction: column;
    .title {
        text-align: center;
        font-size: 2rem;;
    }
    .resultCount {
        margin-top: 0.2rem;
        margin-bottom: 0;
    }

    .tools {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60rem;

        .filters {
            width: 100%;
            margin-bottom: 0.5rem;

            label {
                margin-right: 1rem;
            }
        }

        .searchContainer {
            display: flex;
            align-items: center;
            height: 2rem;
            .searchInput {
                box-sizing: border-box;
                padding: 0 0.5rem;
                height: 2rem;
                width: 15rem;
                margin-right: 0.5rem;
            }
        }

        .contentButtons {
            display: flex;
            flex-direction: row;

            button {
                background-color: transparent;
                border: 1px solid #eee;
                color: white;
                font-size: 14px;
                font-weight: 600;
                padding: 8px 8px;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                margin-left: 0.8rem;
                width: 66px;

                &:hover {
                background-color: #fdfdfd13;
                }
            
                &:active {
                transform: translateY(1px);
                }
        
                svg {
                    height: 1.5rem;
                }
            }
        }
    }

    button {
        background-color: transparent;
        border: none;
    }

    table {
        border-spacing:0;
        border-collapse: collapse;
        width: 60rem;

        a {
            color: white;
            text-decoration: none;
        }

        thead tr td {
            padding: 0.8rem 1rem;
            font-weight: bold;
        }
        
        tbody {
            tr:nth-child(2n - 1) {
                background-color: rgba(255, 255, 255, 0.11);
            }
            td {
                padding: 0.5rem 1rem;
            }
        }

        th {
            padding: 1rem 1rem;
            text-align: start;
        }
        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    .noResult {
        text-align: center;
        font-size: 2rem;
        margin-top: 5rem;
        color: rgba(255, 255, 255, 0.849);
    }
}

@media (max-width: 720px) {
    #layout #pageContent.center > * {
        width: 100vw;
    }
    .vocabularyList {
        width: 100vw;
        table {
            width: 100vw;

            tbody td {
                padding: 0.2rem 0.6rem;
            }
        }
        .tools {
            justify-content: flex-start;
            .searchContainer {
                margin-left: 0.5rem;
            }
        }
    }
}