.wordDetails {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button {
        margin: 0 0.5rem;
    }

    h3 {
        text-align: center;
        font-size: 1.5rem;
    }
    .data {
        width: 100%;
        max-width: 100rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            width: fit-content;
            min-width: 10rem;
            background-color: #535353;
            border-radius: 7%;
            box-shadow: 4px 3px 7px 0px rgb(32, 32, 32);
            margin: 1rem;
            padding: 0.5rem 1rem;
        }
    }
}