.trainingSettings {
    text-align: center;

    .subTitle {
        margin-top: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        section {
            width: 100%;
            margin-bottom : 1rem;

            &:last-of-type {
                margin-bottom: 2rem;
            }

            & > div:not(.oneLine) {
                width:fit-content;
                display:inline-block;
            }

            .sectionTitle {
                text-decoration: underline;
            }

            .checkbox {
                margin-left: 0.5rem;
                &:not(:last-of-type) {
                    margin-right: 1.5rem;
                }
            }

            .oneLine {
                display: block;
                margin-top: 1rem;
                
            }
        }

        .tags {
            display: block;
            margin-top: 1rem;
        }
    }
}

@media (max-width: 720px) {
    .trainingSettings {
        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
                margin-top: 1rem;
            }
        }
    }
}
